<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true" defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="trace.log" header="----------------------------------------" footer="----------------------------------------" formatter="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" traceOutputOptions="None" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="FlatFile TraceListener"/>
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}
Message: {message}
Category: {category}
Priority: {priority}
EventId: {eventid}
Severity: {severity}
Title:{title}
Machine: {machine}
Application Domain: {appDomain}
Process Id: {processId}
Process Name: {processName}
Win32 Thread Id: {win32ThreadId}
Thread Name: {threadName}
Extended Properties: {dictionary({key} - {value}
)}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" name="Text Formatter"/>
    </formatters>
    <categorySources>
      <add switchValue="All" name="Error">
        <listeners>
          <add name="FlatFile TraceListener"/>
        </listeners>
      </add>
      <add switchValue="All" name="General">
        <listeners>
          <add name="FlatFile TraceListener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="FlatFile TraceListener"/>
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <appSettings>
	  <!--Path for loader results file containing temp child id mappings to constituent ids-->
      <!--Path to monitor for the xml file to process-->
	    <add key="LoadPath" value="C:\MoM\Loaded"/>
      <!--Path to monitor for the xml file to process-->
      <add key="LoadPathProcessed" value="C:\MoM\Loaded\Processed"/>

    <!--Path for Photo zip file processing on Mission of Mercy network-->
      <!--Path for the unprocessed zip files-->
      <add key="PhotoPath" value="C:\MoM\ChildPhotos\Photo Zip Files"/>
      <!--Path for the zip files that have been processed-->
      <add key="PhotoPathProcessedZip" value="C:\MoM\ChildPhotos\ProcessedZips"/>
      <!--Path for the csv files that have been processed-->
      <add key="CSVPathProcessed" value="C:\MoM\ChildPhotos\Processed"/>
      <!--Path for the final jpg after they have been renamed and ready to be imported into File Nexus-->
      <add key="PhotoPathRenamed" value="C:\MoM\ChildPhotos\Renamed - Ready for FileNexus"/>
      <!--Path for the photos that did not match an xml child entry-->
      <add key="PhotoPathError" value="C:\MoM\ChildPhotos\Errors"/>
      <!--Path and filename for the photo that is used for "No Photo" for CCH forms entered in HQ.
        If this photo is used for the photo, it is moved to the error folder, so that it doesn't get
        imported into FileNexus-->
      <add key="NoPhotoJPG" value="C:\MoM\ChildPhotos\No Photo Template\No Photo.jpg"/>
	  <!--Location of the Exported Renamer csv file-->
	  <add key="SourceCSVFileLocation" value="C:\MoM\Renamer Files"/>
	  <!--add key="WorkstationID" value="DE01" / Removed by CMayeda-->
	  <!--Target destination folder where renamed photos get copied to-->
	  <add key="TargetRenamedPhotosDirectory" value="M:\Sponsor Ministries\Child Inventory\New Plug-In CCH\Renamed Child Photos for FileNexus"/>
	  <!--Production value of the above key should be M:\Sponsor Ministries\Child Inventory\New Plug-In CCH\Renamed Child Photos for FileNexus, testing is C:\Testing-->	  
  </appSettings>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog"/>
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information"/>
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
